{
  "extends": [
    "eslint:recommended",
    //".eslintrc-es6-react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "brace-style": 2,
    "comma-dangle": [2, "never"],
    "comma-style": 2,
    "eqeqeq": [2, "allow-null"],
    "guard-for-in": 2,
    "indent": [2, 4],
    "newline-after-var": [2, "always"],
    "no-bitwise": 2,
    "no-console": 2,
    "no-floating-decimal": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-nested-ternary": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-undef": 2,
    "no-use-before-define": [2, "nofunc"],
    "operator-linebreak": 2,
    "padded-blocks": [2, "never"],
    "quotes": [2, "single"],
    "radix": 2,
    "strict": [2, "global"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "inside"],
    "yoda": [2, "never", {"exceptRange": true}]
  }
}
